--extra-index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
conformer==0.3.2
deepspeed==0.15.1; sys_platform == 'linux'
HyperPyYAML==1.2.2
librosa==0.10.2
matplotlib==3.7.5
omegaconf==2.3.0
onnxruntime-gpu==1.18.0; sys_platform == 'linux'
onnxruntime==1.18.0; sys_platform == 'darwin' or sys_platform == 'win32'
pandas>=1.5.0
pyarrow==18.1.0
pyworld==0.3.4
soundfile==0.12.1
tensorboard==2.14.0
torch==2.3.1
torchaudio==2.3.1
tqdm>=4.60.0
transformers==4.51.3
